$themeColor1: #17355B;
$themeColor2: white;

.information {
    margin: 4rem 8rem;
    padding: 2rem 5rem;
    color: $themeColor1;
    border-top: 1px solid $themeColor1;
    border-bottom: 1px solid $themeColor1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h1 {
        width: 100%;
    }

    .team {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        h3 {
            width: 100%;
            text-align: center;
            padding-bottom: 1rem;
        }
        
        .member {
            flex: 0 0 30%;
            text-align: center;
            align-items: center;
            
            img {
                width: 8rem;
                height: 8rem;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 0 2rem #333;
            }

            p {
                padding: 0;
                font-size: 1.1rem;

                &:nth-child(2) {
                    font-weight: bold;
                    padding-top: 1rem;
                }
                &:nth-child(3) {
                    font-style: italic;
                }
            }
        }
    }

    .about {
        font-size: 1.3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        p {
            flex: 1 0 100%;
        }
    }
}

@media screen and (min-width: 320px) {
    .information {
        margin: 2rem 2rem;
        padding: 2rem 3rem;
        flex-direction: column;

        .team {

            .member {
                flex: 0 0 17%;
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .information {
        margin: 2rem 3rem;
        padding: 2rem 4rem;

        .team {

            flex-direction: row;

            .member {
                flex: 0 0 30%;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .information {
        margin: 2rem 3rem;
        padding: 2rem 4rem;
        flex-direction: row;

        .about {
            flex: 0 0 80%;
        }
    }
}

@media screen and (min-width: 1300px) {
    .information {
        margin: 4rem 8rem;
        padding: 2rem 5rem;
    }
}