$themeColor1: #17355B;
$themeColor2: white;

.site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: url(/images/milky-way3.jpg) no-repeat fixed center;
    background-size: cover;
    padding: 1rem 4rem;
    margin-top: 2rem;
    color: $themeColor2;
    text-shadow: var(--text-shadow);
    box-shadow: 0 -0.6rem 1rem #333;

    div {
        flex: 0 0 30%;
    }

    .logo {
        i {
            font-size: 4rem;
            padding-top: 0.5rem;
        }
    }

    .links {
        text-align: center;
    }

    li {
        display: block;

        i {
            padding-right: 0.5rem;
            transition: color 0.1s ease-in;
        }

        &:nth-child(1) a:hover {
            i {
                color: rgb(70, 70, 247); 
            }
        }
        &:nth-child(2) a:hover {
            i {
                color: #1DA1F2;
            }
        }
        &:nth-child(3) a:hover {
            i {
                color: rgb(255, 107, 107);
            }
        }
        &:nth-child(4) a:hover {
            i {
                color: #FE4600;
            }
        }
    }

    a {
        text-decoration: none;
        color: $themeColor2;
    }

    p, ul {
        padding-bottom: 0;
    }
    
}

@media screen and (max-width: 800px) {
    .site-footer {
        flex-direction: column;
        justify-content: center;

        div {
            flex: 0 0 auto;
            text-align: center;
            padding-bottom: 1rem;
        }

        .footer-title {
            border-left: 1px solid $themeColor2;
            border-bottom: 1px solid $themeColor2;
            padding: 1rem 2rem;
        }
        
        .logo {
            padding-top: 1rem;
            border-left: 1px solid $themeColor2;
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            text-align: center;
            align-items: center;

            i {
                animation: none;
            }
        }

        .links {
            border-right: 1px solid $themeColor2;
            border-bottom: 1px solid $themeColor2;
            padding-top: 1rem;
        }

        div:nth-child(2) {
            order: 3;
        }
    }
}

@media screen and (min-width: 800px) {
    .logo {
        text-align: center;
        position: relative;
        
        i {
            font-size: 4rem;
            padding-top: 0.5rem;
            position: absolute;
            top: 65%; left: 50%;
            transform: translate(-50%, -50%);
            animation: levitate 2s ease both;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes levitate {
    0% {
        top: 65%;
    }

    50% {
        top: 75%;
    }

    100% {
        top: 65%
    }
}