$themeColor1: #17355B;
$themeColor2: white;

.gallery-main {
    position: relative;
    padding: 2rem 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    align-items: center;

    .buttons {
        grid-column: span 3;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid $themeColor1;
        margin-top: 1rem;

        a {
            text-decoration: none;
            color: $themeColor1;
            font-weight: bold;
            font-size: 1.4rem;
            padding: 0.5rem 2rem;
            transition: background 0.1s ease-in;

            &:hover {
                background: $themeColor1;
                color: $themeColor2;
            }
        }

    }

    input {
        display: none;
    }

    div:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
    }

    div:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;
    }

    div:nth-child(3) {
        grid-column: span 3;
        grid-row: span 1;
    }

    div:nth-child(5) {
        grid-column: span 2;
        grid-row: span 2;
    }

    div:nth-child(7) {
        grid-column: span 3;
        grid-row: span 3;
    }

    div:nth-child(9) {
        grid-column: span 2;
        grid-row: span 2;
    }

    div:nth-child(11) {
        grid-column: span 2;
        grid-row: span 1;
    }

    div:nth-child(12) {
        grid-column: span 1;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 0.3rem;
        box-shadow: 0 0 2rem #333;
    }

}

@media screen and (max-width: 800px) {
    .gallery-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
            margin-bottom: 2rem;
        }

        a:first-child {
            display: none;
        }
    }
}