$themeColor1: #17355B;
$themeColor2: white;

.gallery-main {
    padding: 2rem 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    align-items: center;

    img {
        max-width: 100%;
        height: auto;
    }

    div:nth-child(1) {
        grid-column: span 3;
    }

    div:nth-child(5) {
        grid-column: span 3;
    }

    div:nth-child(9) {
        grid-column: span 3;
    }

    div:nth-child(13) {
        grid-column: span 3;
    }

}