.site-header {
    display: flex;
    background: url(/images/milky-way3.jpg) no-repeat fixed center;
    background-size: cover;
    color: var(--header-font-color, white);
    padding: 3em 0 0 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 8px #eee;
    margin-bottom: 2rem;
    box-shadow: 0rem 0.6rem 1rem #333;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            text-decoration: none;
            color: var(--header-font-color, white);
            padding: 1rem 0 0.2rem 0;
            margin: 0 1rem;
            text-transform: uppercase;
        }
    }

    ul:first-child a:hover {
        text-shadow: 0 0 1.5rem whitesmoke;
        color: lightskyblue;
    }

    ul:nth-child(2) li {

        font-size: 1.4em;

        &:nth-child(1) a:hover {
            color: rgb(70, 70, 247); 
        }
        &:nth-child(2) a:hover {
            color: #1DA1F2;
        }
        &:nth-child(3) a:hover {
            color: rgb(255, 47, 47);
        }
        &:nth-child(4) a:hover {
            color: #FE4600;
        }
    }

    li {
        display: block;
    }


    nav {
        padding: 1rem 1rem;
        width: 100%;
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;

    h1 {
        padding: 0;
        text-transform: uppercase;
    }

    h4 {
        padding-top: 0.5rem;
        font-size: 1.1em;
        font-style: italic;
        width: 70%;
    }

    hr {
        width: 5rem;
        height: 2px;
        border-radius: 0.4rem;
        background: var(--header-font-color, white);
        border: none;
        box-shadow: 0 0 4px #eee;
    }
}

@media screen and (min-width: 320px) {

    .site-header {

        padding: 3em 0 0 0;

        ul {
            padding-bottom: 0;
        }

        ul:nth-child(2) {
            opacity: 0;
        }

        h4 {
            width: 100%;
        }
    }
}

@media screen and (min-width: 800px) {
    
    .site-header {

        padding: 5em 5em 0 5em;

        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        ul:nth-child(2) {
            opacity: 1;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .title {
        padding-bottom: 4em;

        h4 {
            width: 70%;
        }
    }
}