$themeColor1: #17355B;
$themeColor2: white;

.site-content {
    padding: 1rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    .post {
        position: relative;
        flex: 0 0 25%;
        height: auto;
        text-align: center;
        padding: 1rem;
        margin-bottom: 2rem;
        border-top: 1px solid $themeColor1;
        border-bottom: 1px solid $themeColor1;

        .preview {
            margin-top: 0.5rem;
        }
        
        a {
            text-decoration: none;
            color: $themeColor1;
            transition: background 0.1s ease-in, color 0.1s ease-in;

            &:nth-child(2) {
                position: absolute;
                bottom: 0; right: 0;
                padding: 0.5rem 1rem;
                font-weight: bold;
                border-top: 1px solid $themeColor1;
                border-left: 1px solid $themeColor1;
                &:hover {
                    background: $themeColor1;
                    color: $themeColor2;
                }
            }
        }

        h3 {
            padding: 0.5rem 0 0 0;
        }
    }
    
    img {
        width: 13em;
        height: 13em;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 3rem $themeColor1;
        transition: box-shadow 0.2s ease-in;

        &:hover {
            box-shadow: 0 0 5rem $themeColor1;
        }
    }
}

@media screen and (max-width: 800px) {
    .site-content {
        flex-direction: column;
        justify-content: center;

        .post {
            flex: 0 0 50%;
        }
    }
}