.site-content {
    padding: 1rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .post {
        position: relative;
        flex: 0 0 25%;
        height: auto;
        text-align: center;
        padding: 1rem;
        border-top: 1px solid #17355B;
        border-bottom: 1px solid #17355B;
        
        a {
            text-decoration: none;
            color: #17355B;

            &:nth-child(2) {
                position: absolute;
                bottom: 0; right: 0;
                padding: 0.5rem 1rem;
                font-weight: bold;
                &:hover {
                    border-top: 1px solid #17355B;
                    border-left: 1px solid #17355B;
                }
            }
        }

        h3 {
            padding: 0.5rem 0 0 0;
        }
    }
    
    img {
        width: 13em;
        height: 13em;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 3rem #17355B;
        &:hover {
            box-shadow: 0 0 5rem #17355B;
        }
    }
}

