$themeColor1: #17355B;
$themeColor2: white;

.post-header {
    padding: 2rem;
    background: $themeColor1;
    color: $themeColor2;
    margin-bottom: 2rem;
    box-shadow: 0 0.6rem 1rem #333;
    text-shadow: var(--text-shadow);

    h1 {
        padding: 0;
        text-transform: capitalize;
    }
}

.post-main {
    position: relative;
    margin: 4rem 8rem;
    padding: 2rem 5rem;
    padding-bottom: 4rem;
    border-top: 1px solid $themeColor1;
    border-bottom: 1px solid $themeColor1;

    a {
        position: absolute;
        bottom: 0; right: 0;
        text-decoration: none;
        color: $themeColor1;
        font-weight: bold;
        font-size: 1.4rem;
        padding: 0.5rem 2rem;
        border-top: 1px solid $themeColor1;
        border-left: 1px solid $themeColor1;
        transition: background 0.1s ease-in;

        &:hover {
            background: $themeColor1;
            color: $themeColor2;
        }
    }
}

@media screen and (min-width: 320px) {
    .post-main {
        margin: 2rem 2rem;
        padding: 2rem 3rem;
    }
}

@media screen and (min-width: 800px) {
    .post-main {
        margin: 2rem 3rem;
        padding: 2rem 4rem;
    }
}

@media screen and (min-width: 1000px) {
    .post-main {
        margin: 4rem 8rem;
        padding: 2rem 5rem;
    }
}