@import 'variables.css';
@import 'reset.css';
@import 'typography.css';
@import 'header.css';
@import 'main.css';
@import 'footer.css';
@import 'post.css';

body {
    background: rgb(222, 231, 250);
    position: relative;
}

.site {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: block;
}