<footer class="site-footer">
    <div class="footer-title">
        <h6>About us</h6>
        <p>We post interesting and educational articles about what's happening in our solar system every week</p>
    </div>
    
    <div class="logo">
        <h5>{{site.title}}</h5>
        <i class="fas fa-user-astronaut"></i>
    </div>

    <div class="links">
        <h6>Follow us:</h6>
        <nav>
            <ul>
                <li><a href=""><i class="fab fa-facebook"></i>Facebook</a></li>
                <li><a href=""><i class="fab fa-twitter"></i>Twitter</a></li>
                <li><a href=""><i class="fab fa-instagram"></i>Instagram</a></li>
                <li><a href=""><i class="fab fa-reddit-alien"></i>Reddit</a></li>
            </ul>
        </nav>
    </div>
</footer>