<header class="site-header">
    <div class="title">
      <h1>{{site.title}}</h1>
      <hr>
      <h4>{{site.description}}</h4>
    </div>

    <nav>
        <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/about.html">About</a></li>
            <li><a href="{{site.baseurl}}/contacts.html">Contacts</a></li>
        </ul>

        <ul>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-reddit-alien"></i></a></li>
        </ul>
    </nav>
</header>
