<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
</head>
<body>

    <div class="about">

        {% include header.html %}

        <div class="information">
            <h1>About us</h1>
            <p>Tempor tellus, tellus mi nisi. Euismod gravida cras est suspendisse sociosqu nascetur montes volutpat. Lectus parturient dignissim sit orci enim sit morbi eros praesent imperdiet iaculis. Pulvinar faucibus cum condimentum taciti nunc litora ornare netus volutpat ut euismod. A morbi volutpat euismod. Tincidunt augue vitae quam montes sollicitudin lorem bibendum viverra ante eleifend. Bibendum cursus ut placerat orci inceptos libero dictum eleifend potenti phasellus per ipsum. Class tortor vivamus sodales cum massa. Placerat leo aliquam eget parturient elementum, gravida ultricies sit nascetur mollis ridiculus sodales? Cubilia, rhoncus et ante orci ullamcorper. Sodales duis.</p>
            <p>Ac dictum fringilla ridiculus ac magnis posuere egestas sociis. Magna ante erat natoque, ridiculus lacus inceptos. Inceptos blandit luctus tortor lacus ridiculus. Mollis ad amet fringilla egestas ullamcorper phasellus mauris ac velit. Cum consequat pulvinar vestibulum inceptos litora consectetur cursus placerat laoreet magnis. Quis conubia nibh augue neque amet praesent. Mauris erat nulla, cras ad. Lacinia vivamus suspendisse?</p>
        </div>

        {% include footer.html %}

    </div>
    
</body>
</html>