<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/images/favicon.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
</head>
<body>

    <div class="about">

        {% include header.html %}

        <div class="information">
        
            <div class="about">
                <h1>About us</h1>
                <p>We are a small group of people with strong passion and admiration towards everything space related. We try to stay up to date with the "space news" from all over the world and occasionally we post educational and interesting articles on various topics.</p>
            </div>

            <div class="team">
                <h3>Our Team</h3>
                <div class="member">
                    <img src="{{site.baseurl}}/images/rick.jpg">
                    <p class="name">Rick Sanchez</p>
                    <p class="job">Manager</p>
                </div>

                <div class="member">
                    <img src="{{site.baseurl}}/images/Morty.png">
                    <p class="name">Morty Smith</p>
                    <p class="job">Assistant Manager</p>
                </div>

                <div class="member">
                    <img src="{{site.baseurl}}/images/bird-person.jpg">
                    <p class="name">Bird Person</p>
                    <p class="job">Human Resources</p>
                </div>
            </div>

        </div>

        {% include footer.html %}

    </div>
    
</body>
</html>