<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/{{site.baseurl}}/css/styles.css">
</head>

<body>
    <div class="gallery-page">
        <div class="post-header">
            <h1>Gallery</h1>
        </div>

        <div class="gallery-main">

            <div class="image">
                <img src="/{{site.baseurl}}/images/cassini.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/europa.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/space.jpg">
            </div>
            
            <div class="image">
                <img src="/{{site.baseurl}}/images/milky-way.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/milky-way2.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/sun.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/sun2.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/titan.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/gallery/rocket.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/gallery/moon.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/gallery/earth.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/gallery/astronaut.jpg">
            </div>

            <div class="image">
                <img src="/{{site.baseurl}}/images/gallery/satelite.jpg">
            </div>
            
            <div class="buttons">
                <a href="/{{site.baseurl}}/gallery-solar.html">Solar View</a>
                <a href="/{{site.baseurl}}/">Back to Home</a>
            </div>

        </div>

        {% include footer.html %}
    </div>
</body>

</html>